body {
  font-family: "Open Sans";
  font: georgia;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: gray;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.logo{
  float: left;
  font-size: 2em;
}

.navlink{
  display: inline-block;
  padding: 1em;
}

.acctlink{
  padding: 1em;
}

.productlink{
  padding: 1em;
}

.singleproduct{
  height: 20em;
  width: 15em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  border-style: solid;
  border-width: .10px;
  margin: 1em;
}

.singleproduct:hover{
  background-color: lightblue;
}

.allproducts{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: left;
}

.singleproductinfo{
  display: flex;
  justify-content: center;
}

.individualProduct {
  height: 35em;
  width: 60em;
}
.indprodcontainer {
  display: flex;
  height: 20em;
  width: 60em;
}

.indproductimg{
  height: 25em;
  width: 33em;
  margin: 1em;
  align-content: left;
}
.indivimg {
  width: auto;
  height: auto;
}

.indproductimg img{
  width: 100%;
  height: 100%;
}

.indivproductdesc{
  height: 20em;
  width: 50em;
  margin: 1em;
  padding-top: 4em;
}

.footer-container {
 display: flex;
 justify-content: center;
}

.home-container{
  display: flex;
  height: 37em;
  width: 60em;
}
.homeImage {
  height: 35em;
  width: 30em;
  margin: 1em;
  align-content: left;
}
.homeImage img{
  width: 100%;
  height: 100%;
}

.aboutSection {
  height: 35em;
  width: 30em;
  align-content: center;
  padding-top: 8em;
}

.admin-home-container {
  display: flex;
  height: 37em;
  width: 60em;
  flex-wrap: wrap;
  justify-content: center;
}
.home-desc {
  height: 5em;
  width: 60em;
}
.userhomepageimg {
  height: 32em;
  width: 60em;
}

.userhomepageimg img{
  width: 100%;
  height: 100%;
}
